@import "mixins";
@import "variables";
@import "fonts";

// -- Framework
@import "framework/animate-properties";
@import "framework/animate";
@import "framework/reset";
@import "framework/circle";
@import "framework/glide";
@import "framework/buttons";
@import "framework/containers";
@import "framework/banner";
@import "framework/header";
@import "framework/header-toggle";
@import "framework/footer";
@import "framework/socials";
@import "framework/ribbons";

// -- Modules
@import "modules/locknload";
@import "modules/usps";
@import "modules/overview";
@import "modules/vision";
@import "modules/roadmap";
@import "modules/news";
@import "modules/issues";
@import "modules/cases";

html {
    font-size: 16px;
    line-height: 1.43;
    -ms-overflow-style: scrollbar;
    overflow-y: scroll;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: $xlgrey;
    color: $textcolor;
    font-family: $text;
    line-height: inherit;
    font-weight: 500;
    @include vw-font-size(14);
    @include media("min",768,0) {
        @include spacing(40);
    }

}

/* titles & text */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    line-height: 1.2;
    font-family: $heading;
    font-weight: 600;
    @include spacing(40);
    margin-bottom:5px;

    a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        transition: none;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
h1, .maincontainer > * > .inner > h3:not(.h5), .maincontainer > * > .inner > .aside > h3:not(.h5) {
    @include heading1;
    @include vw-margin(0,0,30);
}
h2, .maincontainer > * > .inner > h4, .maincontainer > * > .inner > .aside > h4 {
    @include heading2;
    color:$themecolor;
}
.maincontainer > * > .inner > h5,
.maincontainer > * > .inner > h3.h5,
.maincontainer > * > .inner > .aside > h5,
.maincontainer > * > .inner > .aside > h3.h5 {
    @include heading3;
    @include vw-margin(0,0,30);
}

p {
    margin-top:0;
}

.Intro {
    line-height:1.4;
    @include media("min",768,0) {
        @include vw-font-size(19);
    }
    @include media("max",767,0) {
        @include vw-font-size(16);
    }
}
.Text {
    @include media("min",768,0) {
        @include vw-font-size(16);
        @include media("min",1600,0) { font-size:16px; }
    }
    @include media("max",767,0) {
        @include vw-font-size(11);
    }
    @include media("min",768,991) {
        font-size:11px;
    }
}

.Intro, .Text {
    @include vw-margin(0,0,30);
    &:last-child { margin-bottom:0; }
p, ul, ol {
    @include vw-margin(0,0,30);
    &:last-child { margin-bottom:0; }
}
    h4 {
        @include vw-font-size(19); line-height:1.1;
        @include vw-margin(0,0,15);
    }
    ul {
        list-style:none; margin-left:0;
        margin-bottom:-30/14*1em; margin-right:-20px;
        padding:0;
        @include media("min",768,1024) {
            margin-right:-5px;
            > li { padding-right:5px; }
        }
        @include media("min",768,0) {
            display:flex; flex-direction:row; justify-content:flex-start; align-items:flex-start; flex-wrap:wrap;
            width:calc(100% + 20px);
            > li { width:100%; }
            //> li { width:50%; }
        }
        > li {
            position:relative;
            @include media("min",768,0) { padding:0 20px 15/14*1em 35/14*1em; }
            @include media("min",768,1024) { padding-left:25/14*1em; }
            @include media("max",767,0) { padding:0 20px 15/14*1em 30/14*1em; }
        }
        > li::before {
            content:'\f00c'; font-family: 'FontAwesome';
            position:absolute; left:0; top:0;
            text-align:center;
            font-size:9/14*1em; padding:3.5/9*1em; line-height:1.2; width:18/9*1em; height:18/9*1em;
            border-radius:50%; background:$lgrey; color:$themecolor;
            display:block;
        }
    }
}
.Content ul {

        list-style:none; margin-left:0; padding-left:0;
        > li {
            position:relative; padding:0 0 0 16/16*1em;
        }
        > li:not(.checked)::before {
            content:''; font-family: 'FontAwesome';
            position:absolute; left:0; top:8/16*1em;
            width:6/16*1em; height:6/16*1em; background:$themecolor4;
            border-radius:50%;
            display:block;
        }
        > li.checked::before {
            content:'\f00c'; font-family: 'FontAwesome';
            position:absolute; left:-.25em; color:$themecolor4;
        }
}

/* links */
.linkdiv {
    cursor:pointer;
}

/* font awesome */
.fas {
    font-family: "FontAwesome";
    display: inline-block;
    font-style: normal;
    line-height: 1;
}

.fa-check:before {
    content: "\f00c";
}
.fa-times:before {
    content: "\f00d";
}
.fa-close:before {
    content: "\f2d3";
}

a, input[type="submit"], button,
a::before, a::after,
input[type="submit"]::before, input[type="submit"]::after,
button::before, button::after {
  transition: all .3s ease-in-out;
}
