.maincontainer {
    > section.locknload {
        .Intro {
            p > .more-inline { font-size: inherit; }
            p > .more-inline:last-child { margin-left:20px; }
            + ol.steps {
                @include vw-margin(70,0,0);
            }
        }

        counter-reset: section;

        > .inner {
            > nav {
                @include media("max",767,0) {
                    width:auto; margin-left:auto; margin-right:auto; flex-direction:column; align-items:stretch;
                }
            }
            > h1 span {
                color:$themecolor;
            }
        }
        &:first-child {
            position:relative;
            &::before {
                content:'';
                top:0; bottom:0; left:0; width:var(--pageoffset); background:$llgrey; display:block; position:absolute;
            }
        }
    }
}

ol.steps {
    display: flex; flex-direction: row; justify-content: center; align-items:flex-start; width:100%;
    flex-wrap:wrap; margin-left:0;
    @include vw-margin(0,0,15); padding:0;
    overflow:visible;
    &, > li { list-style:none;  }
    > li {
        margin:0; padding:0;
        counter-increment: section;
        position:relative;
        overflow:visible;
        @include media("min",768,0) {
            width:25%;
            @include vw-padding(0,40);
        }
        @include media("max",767,0) {
            width:50%; margin-bottom:20px;
            @include vw-padding(0,10);
        }

        .next {
            content:''; @include vw-font-size(40); line-height:1;  display:block;
            position:absolute; left:100%; transform:translate(-50%,-50%);
            top:0; @include vw-margin(92,0,0);
            color:#bab5e7;
            pointer-events:none;
            &, svg { width:1em; height:1em; }
            svg {
                color:inherit; fill:currentColor;
                transform-origin:center center;
                position:relative;
                transform:rotate(0deg);
            }
            &, svg {
                transition:all .3s ease-in-out;
            }
        }

        article {
            padding-top:0;
            @include vw-font-size(16);
            transition:all .3s ease-in-out;
            span.icon {
                color:$themecolor;
                width:2.4em; height:3.2em;
                opacity:var(--iconopacity,1);
                transition:all .3s ease-in-out;
                @include media("min",768,0) {
                    @include vw-font-size(58);
                }
                @include media("max",767,0) {
                    @include vw-font-size(90);
                }
            }
            > h3 {
                font-size:20/16*1em; font-weight:bold;
                @include vw-margin(20,0);

                display: flex; flex-direction: row; justify-content: center; align-items:center;

                &::before {
                    content: counter(section);
                    font-size:16/20*1em; line-height:20/16*1em; padding:4/16*1em; text-align:center;
                    width:28/16*1em; height:28/16*1em; display:block;
                    margin-right:10/16*1em;
                    background:#e5e3f6; color:$themecolor; font-weight:bold;
                    border-radius:50%;
                }
            }
        }
        @include media("min",768,0) {
            &:nth-child(4n) {
                .next {
                    opacity:0; visibility: hidden;
                    left:0; top:100%; margin-top:0;
                    svg { transform:rotate(135deg); }
                }
            }
        }
        @include media("max",767,0) {
            &:nth-child(4n) {
                left:-50%;
                .next {
                    left:50%; top:100%; margin-top:30px;
                    opacity:0;
                    svg {
                        transform:rotate(90deg);
                    }
                }
            }
            &:nth-child(4n-1) {
                left:50%;
                .next {
                    left:0;
                    svg {
                        transform:rotate(180deg);
                    }
                }
            }
            &:nth-child(4n-2) {
                .next {
                    left:50%; top:100%; margin-top:30px;
                    svg {
                        transform:rotate(90deg);
                    }
                }
            }
        }
    }
    &.reversed {
        opacity:0; visibility: hidden;
        @include media("min",768,0) {
            flex-direction:row-reverse;
        }
        > li {
            article {
                @include media("min",768,0) {
                    margin-bottom:-350px;
                }
                @include media("max",767,0) {
                    margin-bottom:-500px;
                }
                opacity:0; visibility: hidden;
                transition:all .3s ease-in-out;
            }
            .next {
                opacity:0;
                visibility: hidden;
                @include media("min",768,0) {
                    left:0;
                    svg {
                        transform:rotate(180deg);
                    }
                }
            }
            &:last-child {
                .next {
                    margin-top:0;
                    svg { transform:rotate(225deg); }
                    @include media("max",767,0) { display:none; }
                }
            }
        }
    }
    &.inactive {
        --iconopacity: 0.3;
            > li {
                &:nth-child(4n) {
                    .next {
                        opacity:1; visibility: visible;
                    }
                }
                @include media("min",768,0) {
                &:nth-child(4n-3), &:nth-child(4n) {
                    article {
                        padding-top:60%;
                    }
                }
                &:nth-child(4n) {
                    .next {
                        padding-top:30px;
                    }
                }
                &:nth-child(4n-3) {
                    .next {
                        top:50%; margin-top:0;
                        svg { transform:rotate(-45deg); }
                    }
                }
                &:nth-child(4n-1) {
                    .next {
                        top:65%; margin-top:0;
                        svg { transform:rotate(45deg); }
                    }
                }
            }
        }
        + .reversed {
            opacity:1; visibility: visible;
            > li {
                article {
                    margin-bottom:0; opacity:1; visibility: visible;
                }
                .next {
                    opacity:1; visibility: visible;
                }
            }
        }
    }
    + .Intro {
        @include media("min",768,0) {
            @include vw-margin(50,0,0);
        }
        @include media("max",767,0) {
            @include vw-margin(20,0,0);
        }
    }
}