@mixin animate($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
    @include count($count);
    @include duration($duration);
    @include delay($delay);
    @include function($function);
    @include fill-mode($fill);
    @include visibility($visibility);
}

@include keyframes(fadeIn) {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@mixin fadeIn($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
    @include animation-name(fadeIn);
    @include count($count);
    @include duration($duration);
    @include delay($delay);
    @include function($function);
    @include fill-mode($fill);
    @include visibility($visibility);
}

@include keyframes(fadeInUpSmall) {
    0% {opacity: 0;transform: translate(0,20px);}
    100% {opacity: 1;transform: translate(0,0);}
}
@mixin fadeInUpSmall($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
    @include animation-name(fadeInUpSmall);
    @include count($count);
    @include duration($duration);
    @include delay($delay);
    @include function($function);
    @include fill-mode($fill);
    @include visibility($visibility);
}
@include keyframes(fadeInUp) {
    0% {opacity: 0;transform: translate(0,70px);}
    100% {opacity: 1;transform: translate(0,0);}
}
@mixin fadeInUp($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
    @include animation-name(fadeInUp);
    @include count($count);
    @include duration($duration);
    @include delay($delay);
    @include function($function);
    @include fill-mode($fill);
    @include visibility($visibility);
}

@include keyframes(fadeInRight) {
    0% {opacity: 0;transform: translate(-20px,0);}
    100% {opacity: 1;transform: translate(0,0);}
}
@mixin fadeInRight($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
    @include animation-name(fadeInRight);
    @include count($count);
    @include duration($duration);
    @include delay($delay);
    @include function($function);
    @include fill-mode($fill);
    @include visibility($visibility);
}

@include keyframes(fadeInLeft) {
    0% {opacity: 0;transform: translate(20px,0);}
    100% {opacity: 1;transform: translate(0,0);}
}
@mixin fadeInLeft($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
    @include animation-name(fadeInLeft);
    @include count($count);
    @include duration($duration);
    @include delay($delay);
    @include function($function);
    @include fill-mode($fill);
    @include visibility($visibility);
}

@include keyframes(fadeInDownTransform) {
    0% {opacity: 0;transform:translate(0,-50%)}
    100% {opacity: 1;transform:translate(0,0%)}
}
@mixin fadeInDownTransform($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
    @include animation-name(fadeInDownTransform);
    @include count($count);
    @include duration($duration);
    @include delay($delay);
    @include function($function);
    @include fill-mode($fill);
    @include visibility($visibility);
}

@include keyframes(fadeInNewsflashLabel) {
    0% {opacity: 0;transform:scaleX(0);}
    100% {opacity: 1;transform:scaleX(1);}
}
@mixin fadeInNewsflashLabel($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
    @include animation-name(fadeInNewsflashLabel);
    @include count($count);
    @include duration($duration);
    @include delay($delay);
    @include function($function);
    @include fill-mode($fill);
    @include visibility($visibility);
}
@include keyframes(fadeInNewsflash) {
    0% {opacity: 0;max-width:0;padding-left:0;padding-right:0;}
    100% {opacity: 1;max-width:500px;padding-left:7.5/14*1em;padding-right:7.5/14*1em;}
}
@mixin fadeInNewsflash($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
    @include animation-name(fadeInNewsflash);
    @include count($count);
    @include duration($duration);
    @include delay($delay);
    @include function($function);
    @include fill-mode($fill);
    @include visibility($visibility);
}
.invisible {
    opacity:0;
    @include animate;
    &.visible { opacity:1; }
}

.banner.invisible {
    .newsflash {
        opacity:0;
        //> .label {
        //    opacity:0; transform:scale(0);
        //    position:relative;
        //}
        > .title {
            display:block;
            opacity:0;
            max-width:0;
            width:auto;
            white-space:nowrap;
            overflow:hidden;
        }
    }
    .slogan {
        > * {
            opacity:0;
            .spacer, .letter { opacity:0; }
            &.animating { opacity:1; }
        }
    }
    .image {
        opacity:0;
    }
    .scrollto { opacity:0; }
    .socials {
        > * {
            opacity:0;
        }
    }

    &.visible {
        .newsflash {
            @include fadeInDownTransform;
            @include delay(2.8s);
            @include duration(.5s);
            //> .label {
            //    @include fadeInNewsflashLabel;
            //    @include delay(1.5s);
            //    @include duration(.7s);
            //}
            > .title {
                @include fadeInNewsflash();
                @include delay(3.4s);
                @include duration(.8s);
            }
        }
        .socials {
            > * {
                @include fadeInUpSmall();
                @include duration(.8s);
                @include delay(4s);
                + * {
                    + * {
                        @include delay(4.3s);
                        + * {
                            @include delay(4.6s);
                            + * {
                                @include delay(4.9s);
                            }
                        }
                    }
                }
            }
        }
    }
}


.maintext.invisible {
opacity:0;
    &.visible {
            @include fadeInUp;
    }
}

.textblock.invisible {
    opacity:1;
    > figure, > .inner {
        opacity:0;
    }
    > .inner {
        > nav > .more-inline {
            opacity:0;
        }
    }
    &.visible {
        @include fadeInUp;
        > figure, > .inner {
            @include fadeInUp;
        }
        > figure {
            @include delay(.5s);
        }
        > .inner {
            > nav > .more-inline {
                @include fadeInRight();
                @include delay(1.3s);
            }
        }
    }
}
.usps.invisible {
    opacity:1;
    > .inner {
        > * {
            opacity:0;
        }
        > .block-grid > li {
            opacity:0;
            > article {
                opacity:1;
            }
        }
    }
    &.visible {
        > .inner {
            > * {
                @include fadeInUp;
            }
            > .block-grid > li {
                @include animation-name(fadeInUp);
            }
        }
    }
}
.roadmap.invisible {
    opacity:1; 
    > .inner {
        opacity:0;
    }
    &.visible {
        > .inner {
            @include fadeInUp;
        }
    }
}