.banner {
    position:relative;
    background:$gradient1;
    color:#fff; overflow:visible;
    display:flex; flex-direction:column; justify-content:center; align-items:center;
    padding:calc(var(--headerheight) * 1.3) 0 20px;
    min-height:100vh; min-height:var(--vh);
    @include media("min",768,0) {
        min-height: calc(100vh - var(--inneroffset)); min-height:calc(var(--vh) - var(--inneroffset));
    }

    &::before {
        content:''; left:0; top:0; right:0; bottom:calc(var(--inneroffset) * -1); position:absolute; display:block;
        background:url(../images/decoration.png) no-repeat left bottom;

        @media (max-width:915px) {
            background-size:auto 100%;
        }
    }

    > .newsflash {
        background:$themecolor-multiply; color:#fff;
        @include vw-font-size(12); padding:4/12*1em; line-height:22/12*1em;
        display:flex; flex-direction:row; justify-content:center; align-items:center;
        border-radius:15/12*1em;
        @include vw-margin(0,0,30);
        > .label, > .title {
            padding:0 10/12*1em;
        }
        > .label {
    background:$grey; color:#fff; font-weight:600;
            border-radius:11/12*1em;
        }
        > .title {
            overflow:hidden;
            position:relative;
            text-overflow: ellipsis;
        }
        a { text-decoration:none; color:inherit; outline:none; }

    }

    > .slogan {
        text-align:center;
        display:flex; flex-direction:column; justify-content:flex-start; align-items:center;
        @include media("min",768,0) { width:750/1600*100vw; }
        @include media("max",767,0) { width:calc(100% - #{80/750*100vw}); }
        > * {
            position:relative;
            &.line1, &.line2 {
                @include vw-font-size(56);
                line-height: 1.01; font-weight:600;
            }
            &.line3 {
                line-height: 1.4;
                @include vw-margin(20,0,0);
                width:450px ;margin-left:auto; margin-right:auto; max-width:100%;
                @include media("min",768,0) {
                    @include vw-font-size(20);
                }
                @include media("max",767,0) {
                    @include vw-font-size(16);
                }
            }
        }


        .spacer {
            opacity: 0;
            position: absolute;
            top:14/90*1em; bottom:10/90*1em; margin:0 20px;
            width: 3px;
            background-color: #fff;
            transform-origin: 0 50%;
        }
        .letter {
            display: inline-block;
            line-height: 1em;
            transform-origin: 0 0;
        }
        .word {
            display:inline-block; white-space:nowrap;
        }
    }
    > .image {
        @include vw-margin(30,0,0);
        > img { max-height:35vh; width:auto; height:100%; }
    }

    > .socials {
        display:flex; flex-direction:row; align-items:center;
        position:absolute; z-index:3;
        left:0; right:0;
        margin:0 -7.5/14*1em;
        @include media("min",768,0) {
            color:$themecolor;
            top:100%; bottom:auto;
            justify-content:flex-end;
            min-height:var(--inneroffset);
            @include vw-font-size(14);
            padding:15px var(--pageoffset);
        }
        @include media("max",767,0) {
            bottom:0; top:auto;
            justify-content:center;
            @include vw-font-size(10);
            padding:var(--smalloffset) 10px;
        }
        > * {
            margin:0 7.5/14*1em;
            @include media("max",767,0) {
                &.seperator { display:none; }
            }
        }
        > .label, > .seperator {
            font-weight:600;
        }
        > a {
            color:rgba(#fff,0.6);
            &:hover { color:rgba(#fff,1); }
            @include media("min",768,0) {
                color:rgba($themecolor,0.6);
                &:hover { color:rgba($themecolor,1); }
            }
        }
    }

    > .scrollto {
        border:0; background:none transparent;
        position:absolute; display:block;
        z-index:10;
        left:50%; top:calc(100% - calc(var(--headerheight) * .5));
        transform:translate(-50%,-50%);
        color:#fff;
        span.icon {
            opacity:0.6;
            @include vw-font-size(34);
            svg path:first-of-type + path {
                animation:bounce_scroll 5s infinite;
            }
        }
        @include media("max",767,0) { display:none !important; }
    }
    > .scrollto2 {
        position:absolute; z-index:10;
        left:0; top:100%; width:var(--pageoffset); height:var(--inneroffset);
        background:$themecolor; color:#fff;
        border:0;
        span.icon {
            font-size:20px;
            transform:rotate(90deg);
            display:block; margin:-1em auto 0;
            position:relative;
            width:1em; height:1em;
        }
        @include media("min",768,0) {
            &::before {
                content:''; left:0; top:0; right:0; bottom:0; position:absolute; display:block;
                background:url(../images/decoration.png) no-repeat left bottom;
            }
        }
        @include media("max",767,0) { display:none !important; }
    }

    ~ .maincontainer {
        margin-top:var(--inneroffset);
    }
}

@keyframes bounce_scroll{
    60%, 80%, 100% {
        position:relative;
        transform: translate(0, 0)
    }
    70%, 90% {
        position:relative;
        transform: translate(0, 5px)
    }
}
#sprite-mouse path:first-of-type + path {
    animation:bounce_scroll 5s infinite;
}
