nav {
    display:flex; flex-direction:row; justify-content:flex-end; align-items:center; flex-wrap:wrap;
    width:calc(100% + 10px);
    margin:0 -5px;
    > * {
        margin:0 5px;
        @include vw-margin(10,0,0);
    }

    .more, .more-inline {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        > *, &::before, &::after { pointer-events: none; }
    }
    .more {
        @include vw-font-size(16); line-height:20/16*1em;
        padding:12.5/16*1em 35/16*1em;
        color:$themecolor;
        background:none transparent;
        border:1px solid currentColor;
        border-radius:22.5/16*1em;
        font-weight:600;
    }
}