#topcontainer {
    width: 100%;
}
#topcontainer {
    position: relative;
    opacity:0;
    animation-duration:1.6s;animation-fill-mode:both; animation-name:fadeIn;
    min-height: 100vh; min-height:var(--vh);

    > * {
        background: $xlgrey;
    }
    > .backlayer, > .frontlayer {
        visibility: hidden; pointer-events: none; user-select: none;
        position: fixed; left: 0; right: 0; top: 0; bottom: 0;

        @include media("max",767,0) {
            width:100vw;
        }
    }

    > .backlayer { z-index:1; }
    > .scene {
        position: absolute; width: 100%; z-index:2; overflow:hidden;
        min-height: 100vh; min-height:var(--vh);
    }
    > .frontlayer { z-index:3; }
}


.maincontainer {
    padding:0 $pageoffset;
    > section, > article {
        margin: $inneroffset 0;
        padding: 0 $inneroffset;
    }
    > section {
        &.maintext {
            margin-top:$inneroffset * 0.7777;
            margin-bottom:$inneroffset * 0.7777;
            > .inner {
                width:600/1600*100vw; max-width:100%;
                text-align:center;
                nav {
                    justify-content:center; @include vw-margin(25,0,0);
                }
            }
        }
    }
}