footer#footer {
    @include vw-font-size(16);
    @include media("min",768,0) { font-size:16px; }
    .socials {
        display:flex; flex-direction:row; justify-content:space-between; align-items:center;
        @include vw-font-size(14);
        @include vw-margin(0,-7.5);
        > * {
            @include vw-margin(0,7.5);
        }
        > .label {
            font-weight:600;
            &::after {
                width:34/14*1em; height:1px; display:inline-block; vertical-align:middle; background:currentColor;
                position:relative; content:'';
                margin-left:15/14*1em;
            }
        }
        > a {
            @include vw-font-size(34); color:$themecolor3;
            &:hover { color:#fff; }
        }
    }

    #footer-top, #footer-middle {
        color:#fff; background:$gradient1;
        margin-left:$pageoffset;
        width:calc(100% - #{$pageoffset});
        padding:$inneroffset $pageoffset $inneroffset $inneroffset;
        @include media("min",768,0) {
            display:flex; flex-direction:row; justify-content:space-between; align-items:flex-start;
        }
    }

    #footer-top {
        position:relative;
        &::before {
            content:''; left:0; top:0; right:0; bottom:0; background:#fff; opacity:0.1;
            display:block; position:absolute;
        }
        > .left {
            .subtitle {
                @include heading2;
                opacity:0.5;
            }
            .title {
                @include heading1;
            }
        }
        @include media("min",768,0) {
            > .left { width:35%; }
            > .right { width:65%; }
        }
    }
    #footer-middle {
        position:relative;
        @include media("min",768,0) {
            > .left { width:15%; }
            > .right { width:85%; }
            &::before {
                content:''; right:100%; top:0; bottom:-1px; width:$pageoffset;
                background:$xdgrey; position:absolute; display:block;
            }
        }

        .logo {
            width:117px; display:block;
            margin-top:-$inneroffset * 0.2222;
        }

    }
    #footer-bottom {
        background:$xdgrey; color:rgba(#fff,0.5);
        padding:$smalloffset $pageoffset;
        @include vw-font-size(12);
        @include media("min",768,0) {
            display:flex; flex-direction:row; justify-content:space-between; align-items:center;
            width:100%;
        }

        .nav.footernav {
            margin: 0 -7.5/12*1em;
            > * {
                margin: 0 7.5/12*1em;
                &:first-child { margin-right:17.5/12*1em; }
                a {
                    &:hover { color:#fff; }
                }
            }
        }
    }
}

.linkgroups {
    margin-bottom:0;
    h5 {
        @include vw-font-size(14); text-transform:uppercase; @include vw-margin(0,0,15);
    }
}
.linkgroup {
    &, > li { list-style:none; margin:0; padding:0; }
    a {
        display:block; line-height:20/16*1em; padding:7.5/16*1em 0;
        opacity:1;
        &:hover { opacity:0.6; }
    }
}