
#header, #mobile-toggle {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1001;
    min-height: var(--headerheight);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    @include media("min", 768, 0) {
        padding: 15px var(--pageoffset);
    }
    &::before {
        content:''; left:var(--pageoffset); right:var(--pageoffset); top:100%; height:1px; background:rgba(#fff,0.1);
        display:block; position:absolute;
    }

    > .logo {
        margin-right:auto;
        width:90px;
    }
}
#mobile-toggle {
    > .logo {
        margin-left:auto; margin-right:0;
    }
    @include media("max", 767, 0) {
        padding: 10px 15px;
    }
}

#header {
    @mixin button($size) {
        @include vw-font-size($size); line-height:20/$size*1em;
        padding:12.5/$size*1em 20/$size*1em; border-radius:22.5/$size*1em;
    }
    @include media("max", 767, 0) {
        padding: 10px var(--smalloffset);
    }
        .nav {
            @include media("min",768,0) {
            > li {
                > a {
                    text-decoration:none; font-weight:600;
                    @include button(15); display:block;
                    &:hover {
                        color:rgba(#fff,0.5);
                    }
                }
                &.dropdown > a::after {
                    content:'\f107'; font-family:$icons; margin-left:5/15*1em; font-weight:normal;
                }
            }
            &.topnav {
                @include vw-margin(0,0,0,20);
                > li {
                    > a {
                        font-weight:500;
                    }
                    &.cta > a {
                        @include button(16); font-weight:600;
                        border:1px solid currentColor;
                        padding:11.5/16*1em 25/16*1em;
                    }
                }
            }
        }
            @include media("max",767,0) {
                &.mainnav, &.topnav { display:none; }
            }
    }
}
// Set toggle header display none for mobile
@include media("min",768,0) {
    #mobile-toggle {
            display:none;
    }
}
// Set header display none by default for mobile
@include media("max",767,0) {
    #header {
        display:none;
    }
}