* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &, &::before, &::after {
        box-sizing: border-box;
    }
}

span.icon {
    position: relative; display:inline-block; vertical-align: middle;
    svg {
        display:block; width:1em; height:1em;
        color:inherit; fill:currentColor;
    }
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

article, section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto !important;
}

figure {
    margin: 0;
    float: none;
    clear: both;
}

figure img {
    display: block;
}
.logo {
    img { display:block; }
}



a {
    color: inherit;
    text-decoration: none;
    &:hover, &:focus { color: inherit; }
}
a, button, input[type="submit"] { cursor:pointer; outline:none; }



.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.dropdown-menu {
    display:none;
    position:absolute;
    left:50%; top:100%; transform:translate(-50%,0);
}


.block-grid {
    overflow: hidden; padding: 0; list-style:none;
    display: flex; flex-direction:row; justify-content:flex-start; align-items:stretch; flex-wrap:wrap;
    width: calc(100% + var(--grid-margin));
    margin:0 calc(var(--grid-margin) * -0.5) calc(var(--grid-margin) * -1);
    > li {
        list-style:none; display:block; width:100%;
        padding-left:calc(var(--grid-margin) / 2);
        padding-right:calc(var(--grid-margin) / 2);
        article {
            margin-bottom:var(--grid-margin);
        }
    }
    @include media("min",768,0) {
        &.up2 > li {
            width: 50%;
        }
        &.up3 > li {
            width: 33.33333%;
        }
        &.up4 > li {
            width: 25%;
        }
        &.up5 > li {
            width: 20%;
        }
        &.up6 > li {
            width: 16.66667%;
        }
        &.up7 > li {
            width: 14.28571%;
        }
        &.up8 > li {
            width: 12.5%;
        }
        &.up9 > li {
            width: 11.11111%;
        }
        &.up10 > li {
            width: 10%;
        }
        &.up11 > li {
            width: 9.09091%;
        }
        &.up12 > li {
            width: 8.33333%;
        }
    }
}