
// -- Containers
$mobile_vw_base         : 800;

// -- Paddings & Margins & Sizes
:root {
    // SIZING
    --padding           : 90px;

    @include media("min",1301,0) {
        --pageoffset        : 130px;
        --inneroffset       : 90px;
        --smalloffset       : 50px;

        --headerheight      : 100px;

        --grid-margin       : 30px;
    }
    @include media("min",1025,1300) {
        --pageoffset        : 90px;
        --inneroffset       : 50px;
        --smalloffset       : 30px;

        --headerheight      : 80px;

        --grid-margin       : 20px;
    }
    @include media("min",768,1024) {
        --pageoffset        : 30px;
        --inneroffset       : 15px;
        --smalloffset       : 30px;

        --headerheight      : 70px;

        --grid-margin       : 10px;
    }
    @include media("max",767,0) {
        --pageoffset        : 0px;
        --inneroffset       : #{30/400*100vw};
        --smalloffset       : #{30/400*100vw};

        --headerheight      : 60px;

        --grid-margin       : 20px;
    }
}

// -- Fonts
$icons                  : "FontAwesome";
$text                   : "neue-haas-grotesk-display", "helvetica", arial, sans-serif;
$heading                : $text;

// -- Colors
$textcolor              : #393d44;

$xlgrey                 : #f7fafe;
$lgrey                  : #e3eaee;
$llgrey                 : #e6f2fe;
$grey                   : #51cbce;
$xdgrey                 : #191934;

$themecolor-multiply    : #211898;

$themecolor             : #5347c2;
$themecolor2            : #6459c8;
$themecolor3            : #9891da; // 60%
$themecolor4            : #cbc8ed; // 30%

$cta1                   : #4535da;


// -- Gradients
$gradient1              : linear-gradient(to right, $themecolor 0%, $themecolor2 100%);


@mixin heading1(){
    line-height: 1;
    font-family: $heading;
    font-weight: 600;
    @include spacing(40);
    @include vw-font-size(48);
}
@mixin heading2(){
    line-height: 1.2;
    font-family: $heading;
    font-weight: 600;
    @include spacing(40);
    @include vw-font-size(19);
}
@mixin heading3(){
    line-height: 1.2;
    font-family: $heading;
    font-weight: 600;
    @include spacing(40);
    @include vw-font-size(32);
}

@mixin before($color:$xdgrey) {
    position: relative;
    &::before {
        content: '';
        right: 100%;
        top: 0;
        bottom: 0;
        width: var(--pageoffset);
        background: $color;
        position: absolute;
        display: block;
    }
}