
// -- Paddings & Margins
$pageoffset     : 130px;
$inneroffset    : 90px;
$headerheight   : 100px;

// -- Fonts
$heading        : "arial";
$text           : "arial";

// -- Colors
$themecolor     : #5347c2;
$themecolor2    : #6459c8;

// -- Gradients
$gradient1      : linear-gradient(to right, $themecolor 0%, $themecolor2 100%);
