#topcontainer {
    width: 100%;
}

#topcontainer {
    position: relative;
    opacity: 0;
    animation-duration: 1.6s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    min-height: 100vh;
    min-height: var(--vh);
    min-height: -webkit-fill-available;

    > * {
        background: #fff;
    }

    > .backlayer, > .frontlayer {
        visibility: hidden;
        pointer-events: none;
        user-select: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        @include media("max", 767, 0) {
            width: 100vw;
        }
    }

    > .backlayer {
        z-index: 1;
    }

    > .scene {
        position: absolute;
        width: 100%;
        z-index: 2;
        overflow: hidden;
        min-height: 100vh;
        min-height: var(--vh);
    }

    > .frontlayer {
        z-index: 3;
    }
}


.maincontainer {
    > section, > article {
        position: relative;
    }

    > * {
        position: relative;
        z-index: 3;
    }

    > *:not(.news) {
        > .inner {
            padding: var(--inneroffset);
        }

        &:nth-child(4n-3) {
            // white
            @include media("min",1025,0) {
                > .inner {
                    padding-left: calc(var(--pageoffset) + var(--inneroffset));
                    padding-right: calc(var(--pageoffset) + var(--inneroffset));
                }
            }
        }
        &:nth-child(4n-2) {
            // light grey margin-right
            > .inner {
                background: $llgrey;
            }
            @include media("min",768,0) {
                padding-right: var(--pageoffset);
                > .inner {
                    padding-left: var(--pageoffset);
                }
            }
        }
        &:nth-child(4n-1) {
            // dark purple
            position: relative;
            z-index: 1;

            > .inner {
                background: $xdgrey;
                color: #fff;

                > h4, > .aside > h4 { color:$themecolor3; }
                > .aside {
                    > nav {
                        border-color:rgba(#fff,0.3);
                    }
                }
            }

            .Intro ul > li::before, .Text ul > li::before {
                color: #fff;
                background: rgba(#fff, 0.2);
            }

            .more-inline {
                color: #fff;
            }

            @include media("min", 768, 0) {
                &::before {
                    content: '';
                    background: $xdgrey;
                    display: block;
                    position: absolute;
                    z-index: -1;
                    left: 50%;
                    width: 100.2vw;
                    max-width: 100.2vw;
                    bottom: 0;
                    top: -600/1600*100vw;
                    transform: translate(-50%, 0);
                    @include media("min", 1600, 0) {
                        top: -600px;
                    }
                }
                &:not(:last-child)::before {
                    bottom: -600/1600*100vw;
                    @include media("min", 1600, 0) {
                        bottom: -600px;
                    }
                }
                > .inner {
                    padding-left: var(--pageoffset);
                    padding-right: var(--pageoffset);
                }
            }
        }
        &:nth-child(4n) {
            // light grey margin-left
            > .inner {
                background: $llgrey;
            }
            @include media("min",768,0) {
                padding-left: var(--pageoffset);
                > .inner {
                    padding-right: var(--pageoffset);
                }
            }
        }

        &:nth-child(4n-2), &:nth-child(4n) {
            position: relative;
            overflow: hidden;
            animation:none;
            &::before {
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: $themecolor;
                position: absolute;
                display: block;
                z-index: 2;
                transform: translate(-100%, 0);
            }
            > .inner {
                opacity:0;
            }
            &.visible {
                &::before {
                    @include reveal-bg('left', 1,1.65s,0s);
                }
                > .inner {
                    @include fadeIn(1,.3s,.375s);
                }
            }
            &.visible.right {
                &::before {
                    @include reveal-bg('right', 1,1.65s,0s);
                }
            }
        }
        &:nth-child(4n-2) {
            + *:not(.news) {
                &::before {
                    opacity:0;
                }
            }
            &.visible {
                + *:not(.news) {
                    &::before {
                        @include fadeIn(1,.3s,.5s);
                    }
                }
            }
        }
    }

    > section {
        .payoff {
            display: none;
            @include media("min", 768, 0) {
                font-size: 15px;
                writing-mode: vertical-lr;
                position: absolute;
                width: var(--pageoffset);
                color: $textcolor;
                background: $xlgrey;
                left: 0;
                top: 0;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding-top: 80/15*1em;
                white-space: nowrap;
                transform: rotate(180deg);
                @include media("max", 1024, 0) {
                    font-size: 10px;
                }
                &::after {
                    content: '';
                    width: 1px;
                    margin-bottom: 10/15*1em;
                    vertical-align: middle;
                    height: 30/15*1em;
                    background: currentColor;
                    position: absolute;
                    top: 30/15*1em;
                    left: 50%;
                }
            }
        }

        &.locknload {
            > .inner {
                text-align: center;

                > h1, > .Intro {
                    max-width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    @include media("min", 1025, 0) {
                        width: 1000/1600*100vw;
                    }
                }

                nav {
                    justify-content: center;
                    @include vw-margin(25, 0, 0);
                }
            }
        }
    }
}