
footer#footer .socials, .stickysocials {
    display:flex; flex-direction:row; justify-content:space-between; align-items:center;
    @include vw-font-size(14);
    @include vw-margin(0,-7.5);
    > * {
        @include vw-margin(0,7.5);
    }
    > .label {
        font-weight:600;
        &::after {
            width:34/14*1em; height:1px; display:inline-block; vertical-align:middle; background:currentColor;
            position:relative; content:'';
            margin-left:15/14*1em;
        }
    }
    > a {
        color:$themecolor3;
        &:hover { color:#fff; }
        @include media("min",768,0) {
            @include vw-font-size(34);
        }
        @include media("max",767,0) {
            @include vw-font-size(55);
        }
    }
}


.socialshare {
    position:relative;
    ul.social {
        overflow:visible;
        margin:0; padding:0; list-style:none;
        position:absolute;
        @include media("max",767,0) {
            display:flex; flex-direction:row; justify-content:flex-start; align-items:center;
        }
        > li {
            list-style: none;
            float:none; clear:both; margin:10px 0 0;
            overflow:visible;
            &::after { content:""; display:table; clear:both; }
            &:first-child { margin-top:0; }
            @include media("max",767,0) { float:left; margin:0 10px 0 0; clear:none; }
            a, button {
                position:relative;
                background:none transparent; color:$themecolor; overflow:visible;
                width:60px; height:60px; border:1px solid rgba($themecolor4,0.5);
                line-height:30px; padding:15px; border-radius:50%;
                font-size:20px;
                font-family:"FontAwesome";
                text-align:center;
                display:block;
                span { display:none; }

                @include media("min",768,1024) {
                    width:40px; height:40px; line-height:30px; padding:5px; font-size:17px;
                }
                @include media("max",767,0) {
                    width:30px; height:30px; line-height:20px; padding:5px; font-size:15px;
                }
            }
            a {
                &:hover {
                    border-color:$themecolor;
                }
            }

            &.toggle {
                span {
                    display:block; font-size:25px; width:1em; margin-left:auto; margin-right:auto;
                    @include media("min",768,1024) { font-size:20px; }
                    @include media("max",767,0) { font-size:17px; }
                }
                ~ .notshown {
                    opacity:0; visibility:hidden;
                    transition:all .3s ease-in-out;
                    @include media("min",768,0) {
                        transform: translate(0px, -100%);
                    }
                }
                + .notshown { margin-top:0; }
            }
        }

        &:hover {
            > li {
                &.toggle {
                    ~ .notshown { opacity: 1; visibility: visible; }
                    @include media("min",768,0) {
                        button { opacity:0; visibility: hidden; }
                    }
                }
            }
        }
    }
}

.stickysocials {
    flex-direction:column;
    margin:0;
    position:fixed; right:0; transform:translate(0,-50%); top:50%;
    z-index:1010; width:var(--pageoffset);
    opacity:0;
    transition:.3s ease-in-out;
    @include media("max",767,0) { display:none !important; }
    > * {
        @include vw-margin(2.5,0); line-height:1;
    }
    > .label {
        display: flex; flex-direction: column; justify-content: center; align-items:center;
        width:100/1600*100vw;
        text-align:center;
        color:#8c8c9a;
        pointer-events:none;
        &::after {
            height:34/14*1em; width:1px; margin:10/14*1em 0;
        }
        @include media("max",1024,0) { display:none !important; }
    }
    > a:hover { color:$themecolor }
}
.stickysocials.show {
    opacity:1;
        > * {
            @include animate;
            @include fadeInUpSmall();
            + * {
                animation-delay:.2s;
                + * {
                    animation-delay:.4s;
                    + * {
                        animation-delay:.6s;
                        + * {
                            animation-delay:.8s;
                        }
                    }
                }
            }
        }
}
.scene > .maincontainer.past ~ .stickysocials {
    // Overrules the banner past.
    opacity:0;
}