.maincontainer {
    > section.issues.animating, 
    > section.issues:not(.visible) {
        background: $llgrey;
    }
    > section.issues {
        > .inner {
            > .block-grid {
                @include vw-margin(50, 0, 0);
            }
        }

        article {
            text-align: center;

            span.icon {
                @include vw-font-size(60);
                display: block;
                @include vw-margin(10, 0);
                width: 1em;
                margin-left: auto;
                margin-right: auto;
                color: $themecolor;
            }

            > .issue, > .answer {
                padding: calc(var(--smalloffset) * 0.6);
            }

            > .issue {
                $issuebg:#F2F8FE;
                background:$issuebg;
                position:relative;
                z-index:2;
                padding-bottom: calc(var(--smalloffset) * 0.3);
                &::before, &::after {
                    content:'';
                    left:0; bottom:0;
                    width:100%; padding-bottom:7%;
                    background: $llgrey;
                    position:absolute; display:block; 
                    -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%); clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
                    transform:translate(0,100%);
                }
                &::after {
                    bottom:1px;
                    background:$issuebg;
                }
                $offset: -15/1600*100vw;
                + .answer {
                    padding-top: 20%;
                }
                @include media("max", 767, 0) {
                    + .answer {
                        padding-top: 15%;
                    }                
                }
            }

            > .answer {
                //@include vw-margin(10,0,0);
                background: #fff;
                border: 0;
            }

            .Content {
                margin-top: calc(var(--smalloffset) * 0.3);
                @include media("min", 768, 0) {
                    @include vw-font-size(16);
                    @include media("min", 1600, 0) {
                        font-size: 16px;
                    }
                }
                @include media("max", 767, 0) {
                    @include vw-font-size(11);
                }
                @include media("min", 768, 991) {
                    font-size: 11px;
                }

                p:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}