.roadmap {
    //padding-bottom: var(--pageoffset);
    align-items:stretch;
    @include media("min", 768, 0) {
        @include before($xdgrey);
    }
    @include media("min",768,1024) {
        > .inner {
            > h3, > h4, > .Intro {
                width:calc(100% - 150px);
            }
        }
    }
    @include media("min",1025,0) {
        > .inner {
            > .Intro {
                width:650/1600*100vw;
            }
        }
    }
    > .inner {
        > .Intro {
            opacity:0.5;
        }
    }

    .roadmapCarousel {
        @include media("max",767,0) { --pageoffset: var(--inneroffset); }
        margin-right:calc(var(--pageoffset) * -1);
position:relative;
        color:inherit;
        cursor:grab;
        &:active { cursor:grabbing; }
        .glide__arrows {
            position:absolute; right:var(--pageoffset); bottom:100%;
            @include vw-margin(0,0,50);
            @include media("max",767,0) { display:none !important; }
        }
        .glide__slide {
            @include vw-padding(0,0,65); position:relative;
            &::before, &::after {
                content:'';
                height:1px; width:calc(50% + 30px); top:100%;
                transform:translate(0,-50%);
                background:$themecolor4; position:absolute; display:block;
                z-index:-1;
                @include media("min",768,0) { margin-top:-10.5/1600*100vw;  }
                @include media("max",767,0) { margin-top:#{-10.5/$mobile_vw_base*100vw}; }
            }
            &::before { right:50%; }
            &::after { left:50%; }
            &:first-child::before, &:last-child::after {
                background:url(../images/dots.png) repeat-x left center / auto 100%;
                height:5px;
            }
            &:last-child::after { background-position:right center; }
        }
        article {
            @include vw-padding(40,45); background:rgba(#fff,0.1);
            pointer-events:none;
            border-radius:10/16*1em;
            position:relative;
            @include media("min",768,0) {
                @include vw-font-size(16);
            }
            @include media("max",767,0) {
                @include vw-font-size(12);
            }
            &::before {
                content:''; width:1px; top:100%; display:block; position:absolute;
                background:$grey; left:50%;
                @include media("min",768,0) { height:54/1600*100vw;  }
                @include media("max",767,0) { height:#{54/$mobile_vw_base*100vw};  }
            }
            &::after {
                content:''; left:50%; top:100%;
                @include vw-margin(54,0,0);
                display:block; position:absolute;
                background:$themecolor; transform:translate(-50%,-50%);
                border-radius:50%;
                @include media("min",768,0) { width:21/1600*100vw; height:21/1600*100vw;  }
                @include media("max",767,0) { width:#{21/$mobile_vw_base*100vw}; height:#{21/$mobile_vw_base*100vw};  }
            }
            &, * {
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
            }
            > .state {
                display:block; margin:0; @include vw-margin(0,0,20);

                > .label {
                    display:block; position:absolute; right:0; top:0; @include vw-margin(30,30,0,0);
                    background:$themecolor3; color:#fff; @include vw-font-size(11);
                    line-height:15/11*1em; padding:2/11*1em 10/11*1em;
                    border-radius:3/11*1em;
                }
            }
            > span.icon {
                @include vw-margin(0,0,20);
                @include media("min",768,0) {
                    @include vw-font-size(65);
                }
                @include media("max",767,0) {
                    @include vw-font-size(100);
                }
            }
            > h3 {
                @include vw-font-size(20); @include vw-margin(0,0,20);
            }
            > .Content {
                width:100%;
            }
        }
    }

}
.glide__arrows {
    display: flex; flex-direction: row; justify-content: flex-start; align-items:center;
    > .glide__arrow {
        color:inherit; margin-left:10px;
        border:1px solid currentColor; line-height:20/20*1em; padding:20/20*1em;
        font-size:20px;
        background:none transparent; display:block;
        border-radius:50%;
        span.icon {
            color:$themecolor;
            transition:all .3s ease-in-out;
        }
        &.glide__arrow--left {
            span.icon {
                transform:scaleX(-1); color:$themecolor3;
            }
        }
        &.glide__arrow--right { }

        &:hover span.icon { color:#fff; }
    }
}