.textblock {
    @include media("min",768,0) {
        > .inner {
            display: flex; flex-direction: row; justify-content: flex-start; align-items:center; width:100%;
            > figure, > .aside {
                width:50%;
            }
        }
        &:nth-child(2n-1) > .inner {
            > .aside {
                padding-left:var(--pageoffset);
            }
        }
        &:nth-child(2n) > .inner {
            flex-direction:row-reverse;
            > .aside {
                padding-right:var(--pageoffset);
            }
        }
    }
    > .inner {
        > nav {
            border-top:1px solid $lgrey; margin-right:0; margin-left:0;
            width:100%;
            > *:last-child {
                margin-right:0;
            }
        }
    }
}