
.maincontainer {
    > section.usps {
        @include media("min",768,0) {
            --grid-margin: #{45/1600*100vw};
        }
        @include media("max",767,0) {
            --grid-margin: #{30/$mobile_vw_base*100vw};
        }

        @include media("min", 768, 0) {
            background: $xdgrey;
            padding-bottom: var(--pageoffset);
            @include before($xdgrey);
        }

        > .inner {
            background: $llgrey;

            > .block-grid {
                @include vw-margin(50, 0, 0);
                > li {
                    @include media("max",767,0) {
                        width:50%;
                    }
                }
            }
        }

        article {
            text-align: center;
            @include media("min",1025,0) {
                width: 230/1600*100vw;
            }

            span.icon {
                @include vw-font-size(60);
                color: $themecolor;
                @include vw-margin(0, 0, 15);
                display: block;
            }

            h5 {
                @include vw-font-size(20);
                @include vw-margin(0, 0, 20);
            }
        }
    }
}