
.maincontainer {
    > section.usps {
        @include media("min",768,0) {
            --grid-margin: #{45/1600*100vw};
        }
        @include media("max",767,0) {
            --grid-margin: #{30/$mobile_vw_base*100vw};
            > .inner {
                padding-top:calc(var(--inneroffset) * 2);
                padding-bottom:calc(var(--inneroffset) * 2);
            }
        }

        > .inner {
            > .block-grid {
                @include vw-margin(50, 0, 0);
                overflow:visible;
                > li {
                    opacity:1;
                    align-self:flex-start;
                    transition:all .3s ease-in-out;
                    &:nth-child(4n) ~ * {
                        .Excerpt {
                            bottom:100%; top:auto;
                            &::before {
                                top:100%; bottom:auto;
                                border-width: 25px 25px 0 25px;
                                border-color: #fff transparent transparent transparent;
                                transform:translate(-50%,-1px);
                            }
                        }
                    }
                    @include media("min",768,0) {
                        &:nth-child(4n-3) .Excerpt {
                            left:0;
                            &::before {
                                left:12.5%;
                            }
                        }
                        &:nth-child(4n) .Excerpt {
                            right:0;
                            &::before {
                                left:87.5%;
                            }
                        }
                    }
                    @include media("max",767,0) {
                        width:50%;
                        .Excerpt {
                            width: 200%;
                            left:0;
                            right:auto;
                            &::before {
                                left:25%;
                            }
                        }
                        &:nth-child(2n) .Excerpt {
                            left:auto;
                            right:0;
                            &::before {
                                left:75%;
                            }
                        }
                    }

                    &.active {
                        z-index:3;
                        .Excerpt {
                            opacity:1;
                            visibility: visible;
                        }
                    }
                }

                &.hasactive > li:not(.active) {
                    opacity:0.5;
                }
            }
        }

        article {
            text-align: center; position:relative; z-index:1;
            cursor:pointer;
            > * { z-index:1; position:relative; }
            @include media("min",1025,0) {
                width: 230/1600*100vw;
                margin-left:auto; margin-right:auto;
            }

            span.icon {
                color: $themecolor;
                @include vw-margin(0, 0, 15);
                display: block;
                @include media("min",768,0) {
                    @include vw-font-size(60);
                }
                @include media("max",767,0) {
                    @include vw-font-size(100);
                }
            }

            h5 {
                @include vw-font-size(20);
                @include vw-margin(0, 0, 20);
            }

            > .Text {
                margin-bottom:0;
            }

            > .Excerpt {
                position:absolute;
                z-index:50;
                opacity:0;
                cursor:initial;
                visibility: hidden;
                @include vw-margin(30,0);
                top:100%; background:#fff;
                border-radius:10px;
                width:400%;
                transition: all .3s ease-in-out;

                display:flex; flex-direction:column; justify-content:center; align-items:stretch;
                text-align:left;

                min-height:215/1600*100vw;
                @include vw-padding(37.5,50);

                p:last-child { margin-bottom:0; }

                .fas {
                    position: absolute;
                    top: 1em; right: 1em;
                    cursor: pointer;
                    color: #5347c2;
                    font-size: 1.25em;
                }
                @include media("min",768,0) {
                    .fas {
                        top: 2em; right: 2em;
                    }
                }

                &::before {
                    content:''; left:50%; bottom:100%;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 25px 20px 25px;
                    border-color: transparent transparent #fff transparent;
                    position:absolute; display:block; transform:translate(-50%,1px);
                }
            }
        }
    }
}