.maincontainer {
    > section.vision {

        > .inner {
            > .block-grid {
                @include vw-margin(50, 0, 0);
                overflow:visible;
                > li {
                    opacity:1;
                    align-self:flex-start;
                    transition:all .3s ease-in-out;
                    @include media("max",767,0) {
                        width:50%;
                    }
                    @include media("min",768,0) {
                        &:nth-child(3n) ~ * {
                            .Excerpt {
                                bottom:100%; top:auto;
                                &::before {
                                    top:100%; bottom:auto;
                                    border-width: 20px 25px 0 25px;
                                    border-color: #fff transparent transparent transparent;
                                    transform:translate(-50%,-1px);
                                }
                            }
                        }
                        &:nth-child(3n-2) .Excerpt {
                            left:0;
                            &::before {
                                left:25%;
                            }
                        }
                        &:nth-child(3n) .Excerpt {
                            right:0;
                            &::before {
                                left:75%;
                            }
                        }
                    }

                    &.active {
                        z-index:3;
                        .Excerpt {
                            opacity:1;
                            visibility: visible;
                        }
                    }
                }

                &.hasactive > li:not(.active) {
                    opacity:0.5;
                }
            }
        }

        article {
            text-align:left; align-items:flex-start;
            > figure {
                align-self:center;
                @include vw-margin(0,0,15);
                @include media("max",767,0) {
                    img { width:195/650*100vw; }
                }
            }
            > h3 {
                @include vw-font-size(20); @include vw-margin(0,0,20);
            }

            > .Excerpt {
                position:absolute;
                z-index:50;
                opacity:0;
                cursor:initial;
                visibility: hidden;
                @include vw-margin(30,0);
                top:100%; background:#fff;
                border-radius:10px;
                width:200%;
                transition: all .3s ease-in-out;

                display:flex; flex-direction:column; justify-content:center; align-items:stretch;
                text-align:left;

                min-height:215/1600*100vw;
                @include vw-padding(37.5,50);

                p:last-child { margin-bottom:0; }

                @include media("max",767,0) {
                    display:none;
                }

                &::before {
                    content:''; left:25%; bottom:100%;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 25px 20px 25px;
                    border-color: transparent transparent #fff transparent;
                    position:absolute; display:block; transform:translate(-50%,1px);
                }
            }
        }
    }
}